@import "/node_modules/typeface-lato/index.css";

:root {
  --color-accent: #41deb4;
  --color-background-primary: #032834;
  --color-background-secondary: #07333c;
  --color-disabled: #89938e;
  --color-text-primary:  #fbfcff;
  --color-text-secondary:  #bfc9c3;

  background-color: var(--color-background-primary);
}
