:root {
  --color-background-input: #0c4146;
}

.input-dice {
  /* For the floating dice button */
  position: relative;

  input {
    width: 480px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: var(--color-background-input);
    padding: 4px 48px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: var(--color-text-primary);
    &::placeholder {
      color: var(--color-text-placeholder);
    }
  }
}

.button-add-dice {
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dice-popover {
  height: 328px;
  width: 114px;
  background-color: var(--color-background-input);;
  border: 1px solid #49454F;
  border-radius: 16px;
  padding: 12px;

  box-shadow: 0px 1px 2px 0 hsla(0,0%,0%, 0.3), 0px 1px 3px 1px hsla(0,0%,0%, 0.15);

  display: flex;
  flex-direction: column;
  gap: 4px;

  /* Float the popover upwards */
  position: absolute;
  top: 0;
  transform: translateY(calc(-100% - 8px));
}

.button-dice {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;

  /* Hack to make the icons the same width without needing a table*/
  > div {
    width: 24px;

    display: flex;
    justify-content: center;
  }

  &.inactive {
    color: var(--color-text-placeholder);
  }
}